a {
  color: #00B7FF;
}

.flex-box { display: flex; }
.flex-grow-1 { flex-grow: 1; }
.flex-grow-2 { flex-grow: 2; }
.flex-grow-3 { flex-grow: 3; }


.width-50 { width: 50%; }

.text-align { text-align: center; }
